* {
    color: rgb(83, 71, 61);
    font-family: Arial, sans-serif;
}

#main-canvas {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-image: url('UI_src/imgs/cherry-blossom-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    #petals-animation {
        background-image: url('UI_src/imgs/petals1.gif');
        /* background-image: url('UI_src/imgs/petals_falling.gif'); */
        background-size:cover;
        width: 100vw;
        height: 100vh;
        #blur {
            background-color: rgba(255, 255, 255, 0.098);
            backdrop-filter: blur(2px);
            padding: 5vh 5vw 5vh 5vw;

        }
    }
}

#column-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    border-width: 1pt;

    #user-column {
        flex: 3;
        border-radius: 30px;
        background-color: rgba(234, 232, 229, 0.5);
        box-sizing: border-box;
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);

        #avatar-box {
            background-color: rgb(235, 219, 195);
            height: 40%;
            width: 100%;
            border-radius: 30px 30px 0px 0px;
            border-bottom: 2px solid rgb(116, 104, 89);
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;
            padding-top: 30px;
            gap: 40px;
            

            #avatar-greeting {
                font-size: 24px;

            }
        }
        
        #pokemon-inventory {
            height: 60%;
            /* background-color: rgb(209, 18, 18); //testing purposes */
            width: 100%;
            overflow: scroll;

        #teamLogo{
            border-radius: 10%;
        }

        #avatar-inventory{
            height: 20%;
            width: 90%;
            padding: 5% 5%;
            font-size: 30px;
        }
    }

    #space-column {
        flex: 1;
    }

    #task-column {
        flex: 10;
        border-radius: 30px;
        background-color: rgba(234, 232, 229, 0.5);
        box-sizing: border-box;
        

        #tasks-header {
            background-color: rgb(197, 177, 148);
            height: 6%;
            width: 90%;
            border-radius: 30px 30px 0px 0px;
            border-bottom: 2px solid rgb(116, 104, 89);
            padding: 2% 5%;

            font-size: 40px;

        }

        #task_list_items {
            height: 84%;
            /* background-color: rgb(209, 18, 18); //testing purposes */
            width: 90%;
            overflow: scroll;
            
        }

        .task {
            height: 100%;
            /* background-color: rgb(209, 18, 18); //testing purposes */
            width: 90%;

        }

        .task {
            display: flex;
            background-color: rgb(198, 232, 181);
            padding: 2% 5%;
            height: 8%;
            width: 90%;
            margin: 30px;
            border-radius: 30px;
            padding-left: 5px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);

            #task-text {
                padding: 2% 5% 2% 5%;
                flex: 8;
                font-size: 20px;
                font-weight: bold;
            }

/*             #hpcontainer{
                flex: 1;
                display: flex;
                align-items: center;
                margin-right: 10%;
            }
            #hptext{
                margin-right: 10px;
                font-size: 20px;
                font-weight: bold;
            }
            
            #duedatetext{
                font-size: 20px;
                font-weight: bold;
                margin-right: 10%;
            }
            .hp-bar{
                width: 200px;
                height: 25px;
                border-radius: 10px;
                background-color: grey;
            }
            .hpdiff1{
                width: 200px;
                height: 25px;
                border-radius: 10px;
                background-color: green;
            }
            .hpdiff2{
                width: 150px;
                height: 25px;
                border-radius: 10px;
                background-color: lightgreen;
            }
            .hpdiff3{
                width: 100px;
                height: 25px;
                border-radius: 10px;
                background-color: orange;
            }
            .hpdiff4{
                width: 50px;
                height: 25px;
                border-radius: 10px;
                background-color: red;
            } */
            

            #image-container {
                flex: 1;
                display: flex;
                /* background-color: rgb(209, 18, 18); //testing purposes */
                height: 100%;
                justify-content: end;
                align-items: end;
            }

            .health-bar-container {
                width: 60%; 
                height: 25%; 
                background-color: red;
                border: 0.2em solid rgb(116, 104, 89);  
                 
                display: flex;
                justify-content: start;
            }
                
            .health-bar {
                /* The width will be set dynamically in the JavaScript code */
                height: 100%;
                background-color: rgb(141,193,21);
            }
        }


      .task:hover {
            background-color: rgba(31, 170, 151, 0.888); 
            cursor: pointer; 
            transition: background-color 0.3s ease; 
            transform: translateY(-10px);
            color: rgba(195, 247, 131, 0.932);
        }
        .edit-button {
            padding: 5px 10px; 
            border: none;
            border-radius: 10px; 
            background-color: rgb(235, 219, 195); 
            cursor: pointer; 
            margin-left: 5px;
            margin-right: 5px;
        }
        .edit-button:hover {
            background-color: rgb(197, 177, 148); 
        }

        .delete-button {
            padding: 5px 10px; 
            border: none; 
            border-radius: 10px; 
            background-color: rgb(235, 219, 195); 
            cursor: pointer; 
        }
        .delete-button:hover {
            background-color: rgb(197, 177, 148);
        }

        .save-button {
            padding: 5px 10px; 
            border: none; 
            border-radius: 10px; 
            background-color: rgb(235, 219, 195); 
            cursor: pointer; 
            margin-top: 0px;
            margin-right: 5px;
            margin-left: 5px;
        }
        .save-button:hover {
            background-color: rgb(197, 177, 148); 
        }

        .cancel-button {
            padding: 5px 10px; 
            border: none; 
            border-radius: 10px; 
            background-color: rgb(235, 219, 195); 
            cursor: pointer; 
        }
        .cancel-button:hover {
            background-color: rgb(197, 177, 148);
        }

        .radiobtn {
            margin: auto 20px auto 10px;
        }

    }
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

/* Style for individual confetti pieces */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff6384; /* You can change the color here */
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    animation: fall linear infinite;
}



/* Animation for confetti falling */
@keyframes fall {
    0% {
        transform: translateY(0) rotateZ(0);
    }
    100% {
        transform: translateY(100vh) rotateZ(360deg);
    }
}

}